
//- listing.pug

extends layout.pug 

block contents 
  style
    include ../public/stylesheets/index.css

  article
    section
      h2=record.Service_Name
      p=record.Hours_of_Operation
      p=record.Service_Location_Email
      p=record.Hours_of_Operation
      p=record.Physical_Site_Address_1
      p=record.Physical_Site_City
      p=record.Physical_Site_State
      p=record.Physical_Site_Zip

