
//- listing.pug

extends layout.pug 

block contents 
  style
    include ../public/stylesheets/listing.css

  a(href='/')
    div.purple-box
      div.inner-box
        h1 THE HELP BOOK
        p Building community through wellness and empowerment

      div.search
      include search.pug
      +search

  article.single-listing
    section
      h2=record.Service_Name
      p=record.Description_of_Service

      img(src='../public/images/google.png')

      table
        tr
          td.left
            p 
             |
             b Address: 
          td
            p=record.Physical_Site_Address_1
        tr
          td.left
            p
              |
              b City: 
          td 
            p=record.Physical_Site_City
        tr
          td.left
            p
              |
              b State: 
          td
            p=record.Physical_Site_State
        tr
          td.left
            p
              |
              b Zipcode
          td
            p=record.Physical_Site_Zip
        tr
          td.left
            p
              |
              b Main phone
          td
            p=record.Main_Phone
        tr 
          td.left
            p
              |
              b Email
          td
            p=record.Service_Location_Email
        tr
          td.left
            p
              |
              b Web Site
          td
            p=record.Web_Address
        tr
          td.left
            p
              |
              b Hours of operation
          td
            p=record.Hours_of_Operation
        tr
          td.left
            p
              | 
              b Languages spoke
          td
            p=record.Languages_Spoken
        tr
          td.left
            p
              |
              b ADA Access
          td
            p=record.ADA_Access
        tr
          td.left
            p
              |
              b Fax
          td
            p=record.Fax
        tr
          td.left
            p
              |
              b Intended participats
          td
            p=record.Intended_Participants
        tr
          td.left
            p
              |
              b Location
          td
            p=record.Location
        tr
          td.left
            p
              |
              b Notes
          td
            p=record.Notes
        tr 
          td.left
            p
              |
              b Other names
          td
            p.record.Other_Name
        tr
          td.left
            p
              |
              b Service location email
          td 
            p=record.Service_Location_Email
        tr 
          td.left
            p
              |
              b Status
          td
            p=record.Status
        tr 
          td.left
            p
              |
              b WBC Crisis Line
          td
            p=record.WBCrisisLine


